# File to describe the pylint rules

[MASTER]
disable=
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,

    no-else-raise,
    no-else-return,

    too-many-arguments,
    too-few-public-methods


[FORMAT]
max-line-length=200