{% extends "gws/base/base.html" %}

{% block title %}GWS{% endblock %}

{% block body %}

    {% include 'gws/index/sidebar.html' %}
    
    <div class="mdc-drawer-scrim"></div>

    <div class="mdc-drawer-app-content"></div>

        {% include 'gws/index/header.html' %}
        
        <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate" aria-label="Waiting..." aria-valuemin="0" aria-valuemax="1" aria-valuenow="0">
            <div class="mdc-linear-progress__buffer">
              <div class="mdc-linear-progress__buffer-bar"></div>
              <div class="mdc-linear-progress__buffer-dots"></div>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
              <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
              <span class="mdc-linear-progress__bar-inner"></span>
            </div>
        </div>

        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="gws-page-content">
                        {% include brick_name+"/"+page_name+'.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% include 'gws/index/footer.html' %}

{% endblock %}