
html{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
}

body{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/**********************************  Dashboard *******************************/

.gws-dashboard{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--gws-dashboard-bg-color);
    color: var(--gws-dashboard-text-color);
    font-size: var(--gws-dashboard-text-size);
}

.gws-dashboard-top-bar{
    display: flex; 
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background: var(--gws-dashboard-top-bar-color);
    border-top: 0px solid var(--gws-dashboard-top-bar-color);
    -moz-box-shadow: 1px 0px 3px var(--gws-dashboard-top-bar-color);;
    -webkit-box-shadow: 1px 0px 3px var(--gws-dashboard-top-bar-color);;
    box-shadow: 1px 0px 3px var(--gws-dashboard-top-bar-color);;
    width: 100%;
    height: 50px;
    z-index: 2;
}

.gws-dashboard-main-bar{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: var(--gws-dashboard-bg-color);
    border-top: 1px solid var(--gws-dashboard-border-color);
    width: 100%;
    overflow-y: auto;
    z-index: 0;
}

.gws-dashboard-sidebar{
    display: flex;
    flex-direction: column;
    align-content: center;
    background: var(--gws-dashboard-bg-color);
    width: 65px;
    min-height: 350px;
    z-index: 1;
}

.gws-dashboard-content{
    flex: 1;
    background: var(--gws-dashboard-bg-color);
    min-height: 350px;
}

.gws-dashboard-bottom-bar-{
    flex-direction: row;
    align-items: stretch;
    background: var(--gws-dashboard-bg-color);
    border-top: 1px solid var(--gws-dashboard-border-color);
    width: 100%;
    height: 80px;
    z-index: 3;
}

/**********************************  Forms *******************************/

.gws-input{
    border: none;
    height: 35px;
    width: 350px;
    display: inline-block;
    border-radius: 3px;
    border: none;
    background: var(--gws-input-bg-color);
    border: 1px solid var(--gws-input-border-color);
    color: var(--gws-dashboard-text-color);
}

.gws-input:hover{
    border: 1px solid var(--gws-input-border-hover-color) !important;
}

.gws-btn{
    border: 1px solid var(--gws-dashboard-border-color);
    background: var(--gws-input-bg-color);
    border-radius: 3px;
}

.gws-btn:hover{
    border: 1px solid var(--gws-color) !important;
}


.left-toolbar-btn{
    width: 42px;
    height: 42px;
    font-size: 24px;
    border: 0px solid var(--gws-dashboard-border-color);
    margin: 10px;
    border-radius: 3px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-toolbar-btn:hover{
    color: var(--gws-color) !important;
    border: 1px solid var(--gws-input-border-hover-color) !important;
}

/**********************************  Sizing *******************************/

.width-33{
    width: 33.333% !important;
}

.width-50{
    width: 50% !important;
}

.width-100{
    width: 100%;
}

.padding-5{
    padding: 5px !important;
}

.padding-10{
    padding: 10px !important;
}

/**********************************  Hide *******************************/

.d-none{
    display: none;
}


.d-block{
    display: block;
}

.d-inline-block{
    display: inline-block;
}
