:root {
    /* base */
    --gws-color: #689c99;

    /* form */
    --gws-input-bg-color: #222;
    --gws-input-border-color: #555;
    --gws-input-border-hover-color: var(--gws-color);

    /* dashboard */
    --gws-dashboard-bg-color: #252525;
    --gws-dashboard-border-color: #333;
    --gws-dashboard-text-color: #bbb !important;
    --gws-dashboard-text-size: 12px;
    --gws-dashboard-top-bar-color: var(--gws-dashboard-bg-color);
    --gws-dashboard-header-bg-color: #2d2d2d;
    --gws-dashboard-panel-bg-color: #1e1e1e;
    --gws-dashboard-panel-border: none;
    --gws-dashboard-drag-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    --gws-dashboard-dragging-splitter-bg-color: #444444;

    --gws-dashboard-drop-target-indicator-outline-color: #cccccc;
    --gws-dashboard-drop-target-indicator-bg-color: #000;

    --gws-dashboard-close-icon: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAATElEQVR4nG3OwQ0DMQwDwZGRBtR/j1YJzMc5+IDoR+yCVO29g+pu981MFgqZmRdAfU7+CYWcbF11LwALjpBL0N0qybNx/RPU+gOeiS/+XCRwDlTgkQAAAABJRU5ErkJggg==);
    --gws-dashboard-maximize-icon: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKElEQVR4nGP8////fwYCgImQAgYGBgYWKM2IR81/okwajIpgvsMbVgAwgQYRVakEKQAAAABJRU5ErkJggg==);
    --gws-dashboard-maximize-full-icon: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVR4nGP8//8/AzGAiShVI1YhCwMDA8OsWbPwBmZaWhoj0SYCAN1lBxMAX4n0AAAAAElFTkSuQmCC);
    --gws-dashboard-popout-icon: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAPklEQVR4nI2Q0QoAIAwCNfr/X7aXCpGN8snBdgejJOzckpkxs9jR6K6T5JpU0nWl5pSXTk7qwh8SnNT+CAAWCgkKFpuSWsUAAAAASUVORK5CYII=);
    --gws-dashboard-popin-icon: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAWklEQVR4nJWOyw3AIAxDHcQC7L8jbwT3AlJBfNp3SiI7dtRaLSlKKeoA1oEsKSQZCEluexw8Tm3ohk+E7bnOUHUGcNh+HwbBygw4AZ7FN/Lt84p0l+yTflV8AKQyLdcCRJi/AAAAAElFTkSuQmCC);
}
