<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a href="" class="nav-link">
                    Gencovery
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    Terms
                </a>
            </li>
        </ul>
        <div class="copyright">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script> - 
            <a href="" target="_blank">GWS</a>
        </div>
    </div>
</footer>