{% extends "base/base.html" %}

{% block title %}GWS{% endblock %}

{% block body %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    {% include 'index/header.html' %}

    {% include 'index/sidebar.html' %}

    <main class="mdl-layout__content">
        <div class="page-content gws-page-content">
            {% block content %}
                <div class="mdl-grid" style="margin-top: 100px">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--4-col">
                        <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>
                <script>
                    GWS.openPage()
                </script>
            {% endblock %}
        </div>
    </main>
    
    {% include 'index/footer.html' %}

</div>

{% endblock %}