
{% extends "index/index.html" %}

{% block content %}

<div class="gview:simple-table" json="true">
    {
    "title": "Database",
    "header": ["Mon","Tues","Thurs"],
    "body": [["1","2",3],["yes","no","maybe"]]
    }
</div>

<div class="gview:card">
    <div title>Test card</div>
    <div body>
        This is a more complex div with HTML content<br>
        <div style="color:red">Red Text</div>
        <a href="gencovery.com">Gencovery</a>
    </div>
</div>

<div class="gview:card" new="no">
    <div title>Nested card</div>
    <div body>
        This is a more complex div with HTML content<br>
        <div style="color:red">Red Text</div>
        <a href="gencovery.com">Gencovery</a>
        <hr />
        <div id="nested-table"></div>
    </div>
</div>

<div class="gview:simple-table" json="true" target="#nested-table">
    {
    "style": "card-plain",
    "title": "Nested Database",
    "header": ["Mon","Tues","Thurs"],
    "body": [["1","2",3],["yes","no","maybe"]]
    }
</div>

<div class="gview:card" data-style="card-plain">
    <div title>Tokyo</div>
    <div body>
        Tokyo is a beautiful hitoric city<br>
        <div style="color:red">Red Text</div>
        <a href="gencovery.com">Gencovery</a>
    </div>
</div>

<div class="gview:form" json="true" id="my-form">
    {
    "title": "My GWS Form",
    "col": "col-md-6",
    "fields":[
    {"type": "text", "value": "", "placeholder": "Sirname", "disabled": false, "label": "Sirname"},
    {"type": "text", "value": "", "placeholder": "Firstname", "disabled": false, "label": "Firstname"}
    ],
    "submit": {"value": "Submit", "url": "./"}
    }
</div>

<div class="gview:form" json="true" target="#my-form">
    {
    "title": "My GWS Form 2",
    "col": "col-md-6",
    "fields":[
    {"type": "text", "value": "", "placeholder": "Tokyo", "disabled": false, "label": "City"},
    {"type": "text", "value": "", "placeholder": "Firstname", "disabled": false, "label": "Firstname"}
    ],
    "submit": {"value": "Submit", "url": "./"}
    }
</div>

<div class="gview:cell-g3" json="true">
    {
        "id": 2,
        "name": "",
        "version": "",
        "metabolites": [
            {
                "id": "CHEBI:15377",
                "uri": "biota-db-compound-compound$1",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:29985",
                "uri": "biota-db-compound-compound$2",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:57540",
                "uri": "biota-db-compound-compound$3",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:16810",
                "uri": "biota-db-compound-compound$4",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:15378",
                "uri": "biota-db-compound-compound$5",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:57945",
                "uri": "biota-db-compound-compound$6",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:28938",
                "uri": "biota-db-compound-compound$7",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:57305",
                "uri": "biota-db-compound-compound$8",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:15378",
                "uri": "biota-db-compound-compound$9",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:83099",
                "uri": "biota-db-compound-compound$10",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:83143",
                "uri": "biota-db-compound-compound$11",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:16526",
                "uri": "biota-db-compound-compound$12",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:16810",
                "uri": "biota-db-compound-compound$13",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:29991",
                "uri": "biota-db-compound-compound$14",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:29985",
                "uri": "biota-db-compound-compound$15",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:16452",
                "uri": "biota-db-compound-compound$16",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:61527",
                "uri": "biota-db-compound-compound$17",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:58359",
                "uri": "biota-db-compound-compound$18",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:58725",
                "uri": "biota-db-compound-compound$19",
                "name": "",
                "compartment": "c"
            },
            {
                "id": "CHEBI:29985",
                "uri": "biota-db-compound-compound$20",
                "name": "",
                "compartment": "c"
            }
        ],
        "reactions": [
            {
                "id": 1,
                "uri": "biota-db-reaction-reaction$1",
                "name": "1.4.1.2,1.4.1.3",
                "metabolites": {
                    "CHEBI:15377": -1,
                    "CHEBI:29985": -1,
                    "CHEBI:57540": -1,
                    "CHEBI:16810": 1,
                    "CHEBI:15378": 1,
                    "CHEBI:57945": 1,
                    "CHEBI:28938": 1
                },
                "lower_bound": -1000.0,
                "upper_bound": 1000.0
            },
            {
                "id": 2,
                "uri": "biota-db-reaction-reaction$2",
                "name": "1.4.4.2",
                "metabolites": {
                    "CHEBI:57305": -1,
                    "CHEBI:15378": -1,
                    "CHEBI:83099": -1,
                    "CHEBI:83143": 1,
                    "CHEBI:16526": 1
                },
                "lower_bound": -1000.0,
                "upper_bound": 1000.0
            },
            {
                "id": 3,
                "uri": "biota-db-reaction-reaction$3",
                "name": "2.6.1.1",
                "metabolites": {
                    "CHEBI:16810": -1,
                    "CHEBI:29991": -1,
                    "CHEBI:29985": 1,
                    "CHEBI:16452": 1
                },
                "lower_bound": -1000.0,
                "upper_bound": 1000.0
            },
            {
                "id": 4,
                "uri": "biota-db-reaction-reaction$4",
                "name": "2.6.1.16",
                "metabolites": {
                    "CHEBI:61527": -1,
                    "CHEBI:58359": -1,
                    "CHEBI:58725": 1,
                    "CHEBI:29985": 1
                },
                "lower_bound": -1000.0,
                "upper_bound": 1000.0
            }
        ],
        "genes": [],
        "compartments": {
            "c": "cytosol",
            "e": "extracellular space"
        }
    }
</div>

{% endblock %}
