{% extends "index/index.html" %}

{% block content %}

<div class="gview:form" json="true" id="login">
    {
        "title": "Login",
        "col": "col-md-6",
        "fields":[
            {"type": "email", "value": "", "placeholder": "Email", "disabled": false, "label": "Email"},
            {"type": "password", "value": "", "placeholder": "Password", "disabled": false, "label": "Password"},
            {"type": "hidden", "value": "{{ request.session.crsf }}"}
        ],
        "submit": {"value": "Submit", "url": "./"}
    }
</div>

{% endblock %}